body{
    background-image: url('./images/bg.jpg');
    color: inherit;
}
ul{
    background-color: rgba(175, 174, 174, 0.404);
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
}
a{
    
    font-size: large;
    text-decoration: none;
}
a:hover{
    color: rgb(254, 0, 0);
}
.main{
    backdrop-filter: brightness(1);
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
th{
    text-align: left;
}